RUNTIME_DATABASE_PRIMARY=sqlite
WORKER_RUNTIME_READINESS_CHECK_ONLY=false
DB_FILE=../api/data/app.sqlite
POSTGRES_URL=
POSTGRES_SCHEMA=scoretransposer
STORAGE_DIR=../api/storage
STORAGE_BACKEND=local
S3_BUCKET=
S3_REGION=
S3_ENDPOINT=
S3_FORCE_PATH_STYLE=false
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_KEY_PREFIX=scoretransposer
S3_MAX_ATTEMPTS=3
S3_SERVER_SIDE_ENCRYPTION=
S3_KMS_KEY_ID=
WORKER_POLL_INTERVAL_MS=3000
WORKER_PROCESSING_DELAY_MS=1500
JOB_BROKER_BACKEND=database
JOB_BROKER_REDIS_URL=
JOB_BROKER_PREFIX=score-jobs
JOB_BROKER_CONCURRENCY=1
AUDIVERIS_COMMAND=
AUDIVERIS_TIMEOUT_MS=180000
AUDIVERIS_MAX_HEAP_MB=4096
OMR_PDF_RASTER_DPI=300
OMR_PDF_MAX_PAGE_PIXELS=12000000
OMR_PDF_MAX_TOTAL_PIXELS=120000000
BASIC_PITCH_COMMAND=
BASIC_PITCH_TIMEOUT_MS=300000
YT_DLP_COMMAND=
YT_DLP_TIMEOUT_MS=300000
MUSESCORE_COMMAND=
MUSESCORE_TIMEOUT_MS=180000
FLUIDSYNTH_COMMAND=
FLUIDSYNTH_TIMEOUT_MS=300000
SOUNDFONT_PATH=
SOUNDFONT_LICENSE_MANIFEST=
MUSIC_ENGINE_QUALIFICATION_REPORT=../../artifacts/music-engine-qualification.json
MUSIC_ENGINE_QUALIFICATION_TIMEOUT_MS=30000
FFMPEG_COMMAND=
FFMPEG_TIMEOUT_MS=300000
RESEND_API_KEY=
EMAIL_FROM_ADDRESS=ScoreTransposer <no-reply@notify.scoretransposer.com>
EMAIL_REPLY_TO=
APP_PUBLIC_URL=http://localhost:3001
NOTIFICATION_MAX_ATTEMPTS=8
NOTIFICATION_RETRY_BASE_MS=60000
NOTIFICATION_LOCK_TIMEOUT_MS=900000
PYTHONUTF8=1
