HOST=0.0.0.0
PORT=4000
DB_FILE=./data/app.sqlite
STORAGE_DIR=./storage
PUBLIC_SITE_URL=https://scoretransposer.com
PUBLIC_APP_URL=https://app.scoretransposer.com
RESET_PASSWORD_URL_BASE=https://app.scoretransposer.com/reset-password
SESSION_DAYS=30
DEFAULT_ENTITLEMENT_DAYS=365
PASSWORD_RESET_TOKEN_HOURS=2
WORKER_HEARTBEAT_STALE_MS=120000
SUPPORT_EMAIL=support@scoretransposer.com
EMAIL_FROM_ADDRESS=ScoreTransposer <no-reply@scoretransposer.com>
EMAIL_REPLY_TO=support@scoretransposer.com
RESEND_API_KEY=re_...
ADMIN_API_KEY=replace-with-a-long-random-secret
PAYMENT_PROVIDERS=stripe,paddle
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PRICE_ID=price_...
PADDLE_API_KEY=pdl_...
PADDLE_WEBHOOK_SECRET=pdl_ntfset_...
PADDLE_PRICE_ID=pri_...
PADDLE_ENVIRONMENT=sandbox
PADDLE_DEFAULT_PAYMENT_LINK=https://scoretransposer.com/checkout/paddle
SEED_ACTIVATION_CODES=
