NEXT_PUBLIC_API_BASE_URL=https://api.scoretransposer.com
NEXT_PUBLIC_LOCALE_COOKIE_DOMAIN=.scoretransposer.com
NEXT_PUBLIC_SITE_URL=https://scoretransposer.com
NEXT_PUBLIC_SUPPORT_EMAIL=support@scoretransposer.com
NEXT_PUBLIC_DEMO_ACTIVATION_CODE=
